/jsons/
/jsons/395614061393477632.json
/jsons/780622396297183252.json
/jsons/999107403616358530.json
/migrations/
/logs/
/discord.log
/bot.log
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/discord.xml
/.idea/inspectionProfiles/Project_Default.xml
/config.env
/.idea/Agechecker.iml
/error.txt
/bot.sqlite
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.env
/debug/config.json
/whitelist.json
