discord>=2.3.2
pytz>=2024.1
python-dateutil>=2.9.0.post0
Levenshtein>=0.25.1
SQLAlchemy>=2.0.31
python-dotenv>=1.0.1
asyncio>=3.4.3
PyMySQL>=1.1.1
discord.py>=2.4.0
cryptography>=43.0.3
SQLAlchemy-Utils>=0.41.2
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
fastapi
uvicorn
