python-dotenv>=1.2.3
fastapi>=0.141.1
discord.py>=2.7.1
pydantic>=2.13.5
starlette>=0.46.2
asyncio>=4.0.0
opencv-python>=4.13.0.92
easyocr>=1.7.2
alembic>=1.20.0
SQLAlchemy>=2.0.54
numpy>=2.5.3
matplotlib>=3.11.2
aiohttp>=3.13.3
pytz>=2026.3.post1
cryptography>=50.0.1
python-dateutil>=2.9.0.post0
Levenshtein>=0.27.5
sentry-sdk>=2.69.2
fonttools>=4.61.1
SQLAlchemy-Utils>=0.42.1
PyMySQL>=1.1.2
discord-py-utilities>=0.1.0.3
python-multipart

psycopg2-binary
gunicorn
uvicorn
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability