pytz>=2024.1
python-dateutil>=2.9.0.post0
Levenshtein>=0.25.1
SQLAlchemy>=2.0.40
python-dotenv>=1.0.1
asyncio>=3.4.3
PyMySQL>=1.1.1
discord.py==2.6.4.0
cryptography>=43.0.3
SQLAlchemy-Utils>=0.41.2
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
fastapi~=0.115.13
uvicorn
sentry-sdk[fastapi]~=2.33.2
discord-py-utilities>=0.0.9.6
pydantic~=2.11.7
requests~=2.32.4
alembic~=1.16.4
matplotlib~=3.10.5
numpy~=2.3.2
scipy~=1.16.1
psycopg2-binary
gunicorn
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability

